body{
	background-image:url(/Country.jpg) ;
	
    background-size: 100%;
}
ul {
  list-style-type: none;
  padding-left:  : 100px;
  padding-right: 100px;
  overflow: hidden;
  display: table;
  margin:  0 auto;
  font-family: Raleway;

}

li {
  float:center ;
  background-color: none;
  display: inline;
  min-width: 700px;
  font-size: 35px;

}

li a {
  box-shadow: inset;
  color: white;
  text-align: center;
  padding: 25px;
  text-decoration: underline;
  z-index: 0;
  cursor: pointer;
}
li a:hover
{
    opacity: 0.5;
    transition: 0.3s;
}
header {
  padding: 50px;
  text-align: center;
  color:orange;

}

img.fb{
  position: absolute;
  left: 200px;
  top: 375px;
  width: 75px;
  height: 75px;
  border-radius: 20px;
 
}
img.git{
  position: absolute;
  left: 200px;
  top: 575px;
  width: 75px;
  height: 75px;
  border-radius: 20px;
 
}
img.phone{
  position: absolute;
  left: 800px;
  top: 575px;
  width: 75px;
  height: 75px;
  border-radius: 20px;
 
}
img.gmail{
  position: absolute;
  left: 800px;
  top: 375px;
  width: 75px;
  height: 75px;
  border-radius: 23px;
 
}

a:hover img {
  width: 90px;
  height: 90px;
  transition-duration: 0.3s;
}

p{
	font-family: verdana;
  font-size: 50px;
  color: orange;
  overflow: next;
  font-style: bold;
  text-align: justify-all;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: rgba(179, 0, 0,65%);
  padding-left: 3%;
  border-radius: 50px;

}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 80px;
  background-color: black;
  text-align: center;
  color: orange;
  font-size: 20px;
}

span.contact{
  position: absolute;
  top: 290px;
  font-size: 35px;
  left: 780px;
  color: orange;
  font-style: bold;
}
span.face{
  font-size: 25px;
  color: blue;
  position: absolute;
  top: 400px;
  left: 300px;
 text-decoration-line: underline;
}
span.hub{
  font-size: 25px;
  color: black;
  position: absolute;
  top: 600px;
  left: 300px;
 text-decoration-line: underline;
}
a:hover{
  opacity: 0.5;
  transition-duration: 0.3s;
}

span.phone{
  font-size: 25px;
  color: green;
  position: absolute;
  top: 600px;
  left: 900px;
 text-decoration-line: underline;
}

span.gmail{
  font-size: 25px;
  color: grey;
  position: absolute;
  top: 400px;
  left: 900px;
 text-decoration-line: underline;
}



